build/
.idea/
.gradle/
!.gitignore
.*
xteas*.json
application.conf
main_file_cache.*
!.gitkeep
/players/
/application/src/main/resources/client_config/browsercontrol_0.jar
/application/src/main/resources/client_config/browsercontrol_1.jar
/application/src/main/resources/client_config/gamepack.jar
/cache/data/dump/*
!.github/workflows/build.yml
docs/*
/docs/
